name: Code Checks

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  setup-and-check:
    runs-on: self-hosted
    strategy:
      matrix:
        tool: [pylint, black, isort]
    outputs:
      cache-key: ${{ steps.cache-deps.outputs.cache-key }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.13
          cache: 'pip'

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pylint mypy black isort

      - name: Run Tool
        run: |
          if [ "${{ matrix.tool }}" = "pylint" ]; then
            pylint $(git ls-files '*.py')
          elif [ "${{ matrix.tool }}" = "black" ]; then
            black --diff --check .
          elif [ "${{ matrix.tool }}" = "isort" ]; then
            isort --diff --check-only .
          fi
